In [10]:
import pandas as pd
import numpy as np

In [13]:
dataset = pd.read_csv('./labelhours.csv')

In [24]:
dataset =dataset.dropna()

In [26]:
X = dataset.iloc[:, 0:9].values  
y = dataset.iloc[:, 9].values

In [27]:
X

array([[0.00000000e+00, 0.00000000e+00, 5.13636400e-03, ...,
        1.85007670e-02, 1.21243557e+01, 1.15470054e+01],
       [1.60000000e+01, 7.00000000e+00, 4.07955000e-03, ...,
        1.24025140e-02, 4.04145188e+00, 9.23760431e+00],
       [8.00000000e+00, 3.00000000e+00, 1.92149300e-03, ...,
        1.37158900e-03, 3.51188458e+00, 8.00000000e+00],
       ...,
       [0.00000000e+00, 0.00000000e+00, 1.13589610e-02, ...,
        1.74047690e-02, 6.35085296e+00, 6.92820323e+00],
       [0.00000000e+00, 0.00000000e+00, 3.97165050e-02, ...,
        1.80788270e-02, 9.50000000e-07, 2.12000000e-06],
       [0.00000000e+00, 0.00000000e+00, 2.41241480e-02, ...,
        1.82299130e-02, 9.50000000e-07, 2.12000000e-06]])

In [28]:
y

array([48, 48, 48, ...,  1,  1,  1])

In [29]:
# divide the data into training and testing sets:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [30]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()  
X_train = sc.fit_transform(X_train)  
X_test = sc.transform(X_test)

In [31]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=200, random_state=0)  
regressor.fit(X_train, y_train)  
y_pred = regressor.predict(X_test)

In [32]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))  
#print('Coefficient of determination:', r2_score(y_test, y_pred, multioutput='variance_weighted'))

Mean Absolute Error: 11.387939609236236
Mean Squared Error: 180.32783475133212
Root Mean Squared Error: 13.428619986853903

In [33]:
df=pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})

In [44]:
newdata = [2908,4604,0.035961111,0.03058530,6.666667,11313,0.015236951,2552.587968,322.91797764]

In [45]:
print('How many hours to calving time?', regressor.predict([newdata]))

How many hours to calving time? [30.915]

In [132]:
df

      Actual  Predicted
0         47     29.210
1         41     26.770
2         28     27.590
3          8     23.015
4         14     18.335
5          8     24.595
6          8     18.280
7         35     29.635
8         37     26.085
9          1     18.505
10         8     31.925
11        35     34.765
12        18     30.180
13        48     27.255
14        22     20.230
15        46     26.535
16        27     19.040
17         6     27.115
18        15     24.800
19        35     29.685
20        36     24.570
21        28     28.065
22        29     22.640
23        29     21.395
24         5     15.375
25        46     30.210
26        14     22.655
27        42     28.895
28        46     32.985
29        18     22.925
...      ...        ...
1881      38     27.420
1882       5     16.605
1883       4      7.375
1884      18     18.085
1885      29     24.440
1886      18     18.180
1887      18     28.010
1888      13     24.995
1889       2     23.470
1890      44     24.570
1891      14     25.870
1892       8     18.760
1893      48     20.700
1894      31     27.265
1895      16     27.625
1896      14     22.830
1897      11     23.945
1898      35     25.920
1899      29     27.480
1900      13     27.445
1901      11     25.320
1902      27     28.805
1903      44     25.100
1904       4     27.205
1905      34     24.590
1906       5     33.625
1907      35     20.085
1908      39     21.655
1909      36     17.440
1910      14     25.275

[1911 rows x 2 columns]

In [133]:
print(regressor.predict([[22222222,100000,0.063601373,0.063847513,6215.666667,198,0.00074728,2025.810044,19.07878403]]))

[28.125]

In [134]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.08363589221395573